/************************************* 
********** IMPORT FILES HERE ********* 
*************************************/
/************************************* 
*************** MIXINS *************** 
*************************************/
.round-borders {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.hover-transition {
  -o-transition: .75s;
  -ms-transition: .75s;
  -moz-transition: .75s;
  -webkit-transition: .75s;
  transition: .75s;
}
/************************************* 
********** VARIABLE STYLES *********** 
*************************************/
.fa-4x {
  font-size: 3em !important;
}
.fa {
  color: #1882a5;
}
/************************************* 
*********** SECTION STYLES *********** 
*************************************/
body {
  font-family: 'Lato', Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.fa {
  font-size: 24px;
}
.navbar-inner {
  background: rgba(255, 255, 255, 0.9);
}
.navbar-collapse {
  text-align: center;
}
.navbar-nav {
  display: inline-block;
  float: none;
}
/************************************* 
*********** SECTION STYLES *********** 
*************************************/
/* HEADER & TOP NAVIGATION */
nav {
  background-color: #1882a5;
  width: 100%;
  height: 52px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  /*	.nav-link {
		text-decoration: none;
	    color: #FFF;
	    font-weight: 300;
	    font-size: 17px;
	    -moz-transition: all 0.35s;
		-webkit-transition: all 0.35s;
		transition: all 0.35s;
	}

	&:hover { 
		background-color: #FFF;
		-moz-transition: all 0.35s;
		-webkit-transition: all 0.35s;
		transition: all 0.35s;
		.nav-link {
			color: @hoverColor;
		}	
	}*/
}
nav .navbar-nav {
  font-family: 'Lato', Arial, sans-serif;
}
nav .navbar-nav li a {
  color: #1882a5 !important;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  font-size: 16px;
  padding: 15px 18px;
}
nav .navbar-nav li a:hover {
  color: #38a2db !important;
}
nav .navbar-toggle {
  border-color: #1882a5 !important;
}
nav .logo {
  height: 28px;
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 14px;
}
/* GOALLY VIDEO SECTION */
.video-section {
  width: 100%;
  height: 540px;
  padding-bottom: 400px;
  position: relative;
  z-index: 1;
}
.video-section .responsive-image {
  background: url('../images/goally_main_bg_two.jpg') no-repeat 0 0;
  background-size: cover;
  /* or contain */
  background-position: 0 0;
  height: 550px;
}
.video-section .responsive-image .hero-text-wrapper {
  position: relative;
  top: 35%;
  transform: translateY(-80%);
  -webkit-transform: translateY(-80%);
}
.video-section .responsive-image .hero-text-wrapper .typed-cursor {
  font-size: 2.75em;
  font-weight: lighter;
  position: relative;
  top: 1px;
}
.video-section .responsive-image .hero-text-wrapper .goally-hero-text {
  font-weight: 400;
  font-size: 3.75em;
  display: block;
  margin: 0 auto;
  color: #FFF;
  z-index: 6;
  position: relative;
  top: 165px;
  text-align: center;
  margin-bottom: 20px;
}
.video-section .video-wrapper {
  /*	display: block; */
}
.video-section .video-wrapper .video-icon {
  display: block;
  margin: 0 auto;
  z-index: 5;
  position: relative;
  top: 220px;
  font-size: 80px;
  color: #FFF!important;
  -moz-transition: all .35s;
  -webkit-transition: all .35s;
  transition: all .35s;
  text-align: center;
}
.video-section .video-wrapper .video-icon:hover {
  color: #38a2db !important;
  cursor: pointer !important;
}
.video-section .video-wrapper .video-icon .video-hover-area {
  height: 100px;
  width: 100px;
}
.video-section .video-wrapper .video-icon .video-hover-area:hover {
  color: #38a2db !important;
  cursor: pointer !important;
}
.video-section .video-lightbox {
  background-color: #FFF;
  width: 90.75%;
  height: 350px;
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 138px;
  left: 4.6%;
  z-index: 8;
}
.video-section .video-lightbox iframe {
  margin: 15px auto;
  display: block;
}
.video-section .video-lightbox .close-x {
  position: absolute;
  font-weight: 700;
  top: 5px;
  right: 10px;
  -moz-transition: all .35s;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.video-section .video-lightbox .close-x:hover {
  color: #38a2db !important;
  cursor: pointer !important;
}
/* TYPE.JS ANIMATED TEXT */
.wrap {
  text-align: center;
  position: relative;
  top: 150px;
  color: #FFF;
}
.pre-animated-text {
  font-weight: 200;
}
#typed-strings,
.pre-animated-text,
#typed {
  font-size: 2.5em;
  font-weight: 300;
}
/* HELP WITH SECTION */
.help-with-section {
  width: 100%;
  min-height: 300px;
  background-color: #1882a5;
}
.help-with-section .help-with-word-wrapper {
  margin: 0 auto;
  display: block;
  width: 450px;
}
.help-with-section .help-with-word-wrapper .goalie-header {
  font-size: 3.5em;
  color: #FFF;
  font-weight: 200;
  position: relative;
  margin: 0;
  top: 50%;
  transform: translateY(170%);
  -webkit-transform: translateY(180%);
}
/* HELP PHOTOS SECTION */
.goally-help-photos {
  width: 100%;
}
.goally-help-photos .container .reminder-task {
  height: 300px;
}
.goally-help-photos .container .reminder-task .task-overlay {
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  position: absolute;
  left: 0;
  color: #FFF;
  font-weight: 300;
  font-size: 24px;
}
.goally-help-photos .container .reminder-task .task-overlay .task-text-centering {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.goally-help-photos .container .reminder-task .task-overlay .task-one {
  width: 280px;
}
.goally-help-photos .container .reminder-task .task-overlay .task-two {
  width: 250px;
}
.goally-help-photos .container .reminder-task .task-overlay .task-three {
  width: 250px;
}
.goally-help-photos .container .reminder-task .task-overlay .task-four {
  width: 285px;
}
.goally-help-photos .container .reminder-task .task-overlay .task-five {
  width: 150px;
}
.goally-help-photos .container .reminder-task .task-overlay .task-six {
  width: 260px;
}
.goally-help-photos .container .reminder-task:hover .task-overlay {
  opacity: 1;
}
.goally-help-photos .container .reminder-task:active .task-overlay {
  opacity: 1;
}
.goally-help-photos .container .reminder-task:focus .task-overlay {
  opacity: 1;
}
.goally-help-photos .container .task-chores {
  background: url(../images/chores-cropped.jpg) center no-repeat;
  background-size: 450px;
}
.goally-help-photos .container .task-progress {
  background: url(../images/track-cropped.jpg) center no-repeat;
  background-size: 450px;
}
.goally-help-photos .container .task-pack {
  background: url(../images/backpack-cropped.jpg) center no-repeat;
  background-size: 450px;
}
.goally-help-photos .container .task-medications {
  background: url(../images/vitamin-cropped.jpg) center no-repeat;
  background-size: 450px;
}
.goally-help-photos .container .task-violin {
  background: url(../images/violin-cropped.jpg) center no-repeat;
  background-size: 450px;
}
.goally-help-photos .container .task-homework {
  background: url(../images/homework-cropped.jpg) center no-repeat;
  background-size: 450px;
}
/* DEVICE AND WEB */
.device-and-web {
  width: 100%;
  /* Start of Device */
  /* End of Device */
  /* Start of Web */
  /* End of Web */
}
.device-and-web .goally-device-header-wrapper {
  width: 235px;
  margin: 35px auto 0;
}
.device-and-web .goally-device-header {
  font-size: 38px;
  text-align: center;
}
.device-and-web .goally-devices .first-device-column {
  position: relative;
  left: 60px;
  margin-top: 30px;
}
.device-and-web .goally-devices .first-device-column .device-content-wrapper p {
  max-width: 240px;
}
.device-and-web .goally-devices .third-device-column {
  margin-top: 30px;
  position: relative;
  left: 60px;
}
.device-and-web .goally-devices .third-device-column .device-content-wrapper p {
  max-width: 235px;
}
.device-and-web .goally-devices .device-content-wrapper {
  margin-bottom: 70px;
  margin-right: 70px;
}
.device-and-web .goally-devices .device-content-wrapper .device-move {
  position: relative;
  left: 8px;
  top: -1px;
  text-align: center;
  font-weight: 700;
}
.device-and-web .goally-devices .middle-column-image {
  margin: 0 auto!important;
  display: block!important;
  width: auto!important;
  height: 217px!important;
  position: relative!important;
  top: 54px!important;
}
.device-and-web .device-divider {
  margin: 0 auto 50px;
  width: 80%;
  border-top: 1px solid #D7D7D7;
}
.device-and-web .goally-web-header-wrapper {
  width: 308px;
  height: 100%
		margin: 40px auto 0;
}
.device-and-web .web-content-wrapper {
  margin-top: 50px;
  margin-bottom: 30px;
}
.device-and-web .web-content-wrapper .first-device-column {
  left: 60px;
  position: relative;
}
.device-and-web .web-content-wrapper .first-device-column .device-move {
  font-weight: 700;
  position: relative;
  left: 8px;
  top: -1px;
}
.device-and-web .web-content-wrapper .first-device-column span {
  max-width: 240px;
  display: inline-block;
}
.device-and-web .web-content-wrapper .second-device-column {
  left: 60px;
  position: relative;
}
.device-and-web .web-content-wrapper .second-device-column .device-move {
  font-weight: 700;
  position: relative;
  left: 8px;
  top: -1px;
}
.device-and-web .web-content-wrapper .second-device-column span {
  max-width: 310px !important;
  display: inline-block;
}
.device-and-web .web-content-wrapper .third-device-column {
  left: 60px;
  position: relative;
}
.device-and-web .web-content-wrapper .third-device-column .device-move {
  font-weight: 700;
  position: relative;
  left: 8px;
  top: -1px;
}
.device-and-web .web-content-wrapper .third-device-column span {
  max-width: 250px;
  display: inline-block;
}
.device-and-web .web-content-wrapper .device-web-header {
  text-align: center;
  margin-left: 70px;
}
.device-and-web .web-content-wrapper .device-content-wrapper {
  max-width: 300px;
}
.device-and-web .web-content-wrapper .web-content-icon {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* LEARN ABOUT GOALLY */
.learn-about-goally {
  width: 100%;
  background: url(../images/learn-more-background.jpg) center no-repeat;
  background-size: cover;
  height: 600px;
  margin-top: 0;
}
.learn-about-goally .goally-learn-more-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-45%);
  -webkit-transform: translateY(-45%);
}
.learn-about-goally .goally-learn-more-wrapper .goally-device-header {
  color: #FFF;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 10px;
}
.learn-about-goally .goally-learn-more-wrapper .sign-up-text {
  font-style: italic;
  color: #FFF;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  position: relative;
  top: -8px;
}
.learn-about-goally .goally-learn-more-wrapper .sign-up-wrapper {
  text-align: center;
}
.learn-about-goally .goally-learn-more-wrapper .sign-up-wrapper .email-box {
  height: 40px;
  width: 200px;
  padding-left: 7px;
  font-weight: 300;
  font-size: 16px;
}
.learn-about-goally .goally-learn-more-wrapper .sign-up-wrapper .submit-button {
  border-radius: 6px;
  border-style: none;
  height: 40px;
  width: 110px;
  margin-top: 10px;
  -moz-transition: all .35s;
  -webkit-transition: all .35s;
  transition: all .35s;
  background-color: #1882a5;
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
}
.learn-about-goally .goally-learn-more-wrapper .sign-up-wrapper .submit-button:hover {
  background-color: #FFF;
  border: 1px solid #1882a5;
  color: #1882a5;
}
.toast-top-center {
  font-size: 20px;
}
/* FOOTER */
footer {
  width: 100%;
  height: 100px;
  background-color: #1882a5;
}
footer .social-icon-section {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
}
footer .social-icon-section .share-goally {
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  margin-top: 0;
}
footer .social-icon-section .social-icon-list {
  list-style: none;
  display: inline-block;
  padding: 0;
}
footer .social-icon-section .social-icon-list .nav-item {
  display: inline-block;
  padding: 0 5px;
}
footer .social-icon-section .social-icon-list .nav-item .fa {
  color: #FFF !important;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  font-size: 40px;
}
footer .social-icon-section .social-icon-list .nav-item .fa:hover {
  color: #38a2db !important;
}
footer .social-icon-section .copyright-info {
  color: #d7d7d7;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
}
.setup-wrapper {
  position: relative;
  top: 20px;
  margin-bottom: 50px !important;
}
.setup-wrapper .device-header {
  text-align: left;
  font-weight: 700;
}
.setup-wrapper .device-header .device-move {
  position: relative;
  left: 8px;
  top: -1px;
}
.setup-wrapper p {
  max-width: 240px;
}
.navbar-toggle {
  position: relative;
  right: 10px;
}
.navbar-collapse {
  background-color: #FFF;
}
.icon-bar {
  background-color: #1882a5 !important;
}
.device-header {
  text-align: left;
}
.device-content-wrapper span,
.device-content-wrapper p,
.setup-wrapper p {
  max-width: 240px;
  text-align: left;
}
.paragraph-divider {
  display: inline;
}
.navbar-toggle:hover {
  background-color: #EDEDED !important;
}
.global-access-paragraph {
  max-width: 210px !important;
}
/************************************* 
********* CSS3 MEDIA QUERIES ********* 
*************************************/
/* SMALL DESKTOP SIZE */
@media screen and (min-width: 991px) {
  .device-and-web .goally-devices .middle-column-image {
    margin: 0 auto !important;
    display: block !important;
    width: auto !important;
    height: 207px !important;
    position: relative !important;
    top: 54px !important;
  }
  .device-and-web .goally-devices .first-device-column,
  .device-and-web .goally-devices .third-device-column {
    text-align: center;
  }
}
@media screen and (max-width: 960px) {
  .goally-hero-text {
    font-size: 3em !important;
    margin: 0 auto 10px !important;
  }
  #typed,
  #typed-strings,
  .pre-animated-text {
    font-size: 1.75em !important;
  }
}
@media screen and (max-width: 905px) {
  .setup-wrapper p {
    max-width: 180px;
    text-align: left;
  }
  .device-and-web .goally-devices .third-device-column .device-content-wrapper p {
    max-width: 175px;
  }
  .device-and-web .goally-devices .first-device-column .device-content-wrapper p {
    max-width: 200px;
  }
  .device-and-web .goally-devices .middle-column-image {
    margin: 0 auto!important;
    display: block!important;
    width: auto!important;
    height: 177px!important;
    position: relative!important;
    left: 20px;
    top: 90px !important;
  }
  .device-content-wrapper .device-header {
    text-align: center;
  }
  .device-content-wrapper {
    margin-right: 0;
  }
  .device-content-wrapper p {
    text-align: center !important;
    max-width: 550px;
  }
  .global-access-header {
    text-align: left !important;
  }
  .global-access-paragraph {
    max-width: 200px !important;
  }
}
@media screen and (max-width: 790px) {
  .setup-wrapper p {
    max-width: 160px;
    text-align: left;
  }
}
@media screen and (max-width: 784px) and (min-width: 768px) {
  .first-device-column {
    position: relative !important;
    left: 50px !important;
  }
  h4 {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 779px) and (min-width: 768px) {
  .fun-for-children {
    position: relative;
    top: -18px;
  }
}
/* TABLET SIZE */
@media screen and (max-width: 767px) {
  /* Switch the Goally picture and text for mobile sizes*/
  .first-device-column {
    position: relative;
    top: 410px;
  }
  .second-device-column {
    position: relative;
    top: -360px;
  }
  .learn-about-goally .goally-learn-more-wrapper .goally-device-header {
    font-size: 24px;
  }
  .video-section .goally-hero-text {
    font-size: 3ex;
    font-weight: 200;
  }
  body {
    font-size: 18px;
  }
  .help-with-section .help-with-word-wrapper .goalie-header {
    color: #FFF;
    font-weight: 200;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(190%);
    -webkit-transform: translateY(190%);
    display: block;
    text-align: center;
    font-size: 2.5em;
  }
  .device-and-web .web-content-wrapper {
    /* margin-top: 70px; */
    /* margin-bottom: 70px; */
    margin-left: 50px;
  }
  .page-scroll {
    border-bottom: 1px solid #d7d7d7;
    padding: 4px 110px;
  }
  .page-scroll:last-of-type {
    border-bottom: none !important;
  }
  .typed-cursor {
    font-size: 1em !important;
  }
  .goally-hero-text {
    font-size: 2em !important;
    margin: 0 auto 15px !important;
    line-height: 36px;
  }
  #typed,
  #typed-strings,
  .pre-animated-text {
    font-size: 1em !important;
  }
  .col-xs-4 {
    width: 100% !important;
  }
  .device-and-web .goally-devices .middle-column-image {
    position: relative !important;
    top: 55px !important;
    left: 0 !important;
  }
  .device-and-web .goally-devices .first-device-column,
  .device-header,
  .device-and-web .goally-devices .third-device-column,
  .device-and-web .web-content-wrapper .second-device-column,
  .device-and-web .web-content-wrapper .third-device-column,
  .setup-wrapper .device-header {
    left: 0 !important;
    text-align: center !important;
  }
  .device-content-wrapper {
    margin-right: 0 !important;
  }
  .device-and-web .goally-devices .first-device-column .device-content-wrapper p,
  .device-and-web .web-content-wrapper .second-device-column span,
  .device-and-web .goally-devices .third-device-column .device-content-wrapper p {
    max-width: none !important;
  }
  .paragraph-divider {
    display: block !important;
  }
  .device-content-wrapper span,
  .device-and-web .web-content-wrapper .device-content-wrapper,
  .device-and-web .web-content-wrapper .first-device-column span,
  .setup-wrapper p {
    max-width: none !important;
    text-align: center !important;
  }
  .second-device-content-wrapper {
    position: relative;
    top: 20px;
  }
  .setup-wrapper {
    top: -360px;
  }
  .fun-for-children {
    position: relative;
    top: -88px;
  }
  .reminders {
    position: relative;
    top: -315px;
  }
  .device-divider {
    position: relative;
    top: -170px;
  }
  .goally-app-header {
    position: relative;
    top: -180px;
  }
  .device-and-web .web-content-wrapper {
    margin-left: 0 !important;
  }
  .device-and-web .web-content-wrapper .first-device-column {
    left: 0 !important;
    top: 0 !important;
  }
  .create-routines-paragraph {
    text-align: center;
  }
  .customizable-wrapper {
    position: relative;
    top: -45px;
  }
  h4 {
    margin-bottom: 2px;
  }
  .device-move {
    left: 5px !important;
  }
  .report-cards span,
  .container p {
    font-size: 16px;
  }
  .paragraph-divider {
    display: block !important;
  }
  .report-cards-header span {
    font-size: 18px !important;
  }
  .create-routines {
    top: -90px;
    position: relative;
  }
  .global-access-paragraph {
    font-size: 16px;
  }
  .global-access-wrapper {
    position: relative;
    top: -250px;
  }
  .learn-about-goally {
    margin-top: -190px;
  }
  .container .fa {
    font-size: 22px !important;
  }
  .goally-learn-more-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-65%) !important;
    -webkit-transform: translateY(-65%) !important;
  }
}
/* MOBILE ONE SIZE */
@media screen and (max-width: 650px) {
  .goally-hero-text {
    font-size: 1.75em !important;
    margin: 0 auto 25px !important;
    line-height: 30px;
  }
  .sign-up-text {
    font-size: 28px !important;
    top: 4px !important;
  }
  .goally-learn-more-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-45%) !important;
    -webkit-transform: translateY(-45%) !important;
  }
}
/* MOBILE TWO SIZE */
@media screen and (max-width: 525px) {
  .report-cards span,
  .container p {
    font-size: 16px;
  }
  .customizable-wrapper {
    position: relative;
    top: -45px;
  }
  .fun-for-children {
    position: relative;
    top: -86px;
  }
  .goalie-header {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(150%);
  }
  @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
    .safari_only .goalie-header {
      position: relative;
      top: -50px;
    }
  }
}
@media screen and (max-width: 500px) {
  .help-with-section .help-with-word-wrapper .goalie-header {
    color: #FFF;
    font-weight: 200;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(240%);
    -webkit-transform: translateY(240%);
    display: block;
    text-align: center;
    font-size: 2em;
  }
  .sign-up-text {
    font-size: 24px !important;
  }
  .global-access-paragraph .paragraph-divider {
    display: inline !important;
  }
}
/* MOBILE THREE SIZE */
@media screen and (max-width: 450px) {
  .help-with-section .help-with-word-wrapper .goalie-header {
    color: #FFF;
    font-weight: 200;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(320%);
    -webkit-transform: translateY(320%);
    display: block;
    text-align: center;
    font-size: 1.5em;
    left: -10px;
  }
  .sign-up-text {
    font-size: 22px !important;
    margin-bottom: 40px !important;
  }
  .global-access-paragraph,
  .report-cards span,
  .container p {
    font-size: 14px;
  }
  .customizable-wrapper .paragraph-divider {
    display: inline !important;
  }
  .report-cards .paragraph-divider {
    display: inline !important;
  }
  .customizable-wrapper {
    position: relative;
    top: -78px;
  }
  .fun-for-children {
    position: relative;
    top: -125px;
  }
  .create-routines {
    top: -120px;
    position: relative;
  }
  .global-access-wrapper {
    position: relative;
    top: -290px;
  }
  .device-divider {
    position: relative;
    top: -180px;
  }
}
/* MOBILE FOUR SIZE */
@media screen and (max-width: 425px) {
  .help-with-section .help-with-word-wrapper .goalie-header {
    left: -35px;
  }
  .global-access-paragraph,
  .report-cards span,
  .container p {
    font-size: 13px;
  }
  .device-and-web .goally-devices .middle-column-image {
    top: 65px!important;
  }
}
@media screen and (max-width: 399px) {
  .sign-up-text {
    font-size: 20px!important;
  }
  .help-with-section .help-with-word-wrapper .goalie-header {
    font-size: 1.3em;
    width: 250px;
    left: -60px !important;
    top: 20px;
  }
}
